<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour Francis Alfoldi vous avez recut un message depuis votre site de la part d'un internaute.</p>
    <p> Nom: <%= @name %></p>
    <p> email: <%= @email %></p>
    <p> Message: </p>
    <p> <%= @body %> </p>
  </body>
</html>