<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<h1>Bonjour <%= "#{@user.first_name} #{@user.last_name}" %>, bienvenue.</h1>
  <p> Vous vous êtes inscrit sur alfoldievaluation.com en utilisant l'e-mail suivant : <%= @user.email %>. </p>    
  <p> La nouvelle mouture du site offre un contenu actualisé, simplifié aussi, l’idée est de faire dans le minimaliste : moins d’info pour plus d’efficacité. </p>    
  <p> De la nouveauté dans les actions aussi, je vous invite à jeter un œil sur ma toute nouvelle plate-forme de formation à distance. On parle beaucoup du distanciel dans la formation du social. Maintenant passons à la vitesse supérieure, allons-y. </p>    
  <p> Avec une vraie dimension interactive : vous pouvez commenter mes pages, poser une question, demander une info. <p> Passez par l’onglet "Contact". Ce sera pour moi un devoir et un plaisir de vous répondre. </p>    
  <p> Je vous dis : à très vite sur <a href='http://www.alfoldievaluation.com/'>Alföldi Evaluation</a>.</p>
  </body>
</html>