
<div class='card'>
  <%= form_for @folder do |f| %>
    <div class="form_group card-header">
      <label> Titre du dossier</label></br>
      <%= f.text_field :title, class: 'form_control mb-3 w-25'%>
    </div>
    
    <div class='card-body'>
      <%= f.text_area :content, class: "w-100", style: "height: 50em"%>
    </div>

    <div class='card-footer'>
    <button type="submit", class='btn btn-primary'> Envoyer </button>
    </div>
  <%end%>
</div>
