<% if current_user && current_user.administrator %>
  <div class="bc-secondary w-100">
    <div class='container'>
      <%= link_to "Créer un article", new_article_path, class: "btn btn-outline-secondary w-100 mt-3"%>
    </div>
  </div>
<% end %>
<% @articles.reverse_each do |article|%>
  <%= render "show", article: article %>
<% end %>