
<div class='card'>
  <%= form_for @newsletter do |f| %>
    <div class="form_group card-header">
      <label> Titre de la newsletter</label></br>
      <%= f.text_field :object, class: 'form-control mb-3 w-25'%>
      <%= f.hidden_field :body, required: true %>
    </div>
  <%end%>
</div>
