
<div class='container'>
  <div class='card'>
    <div class='card-header d-flex flex-wrap justify-content-around'>
      <div class="col align-self-center">
        <h2>le trio </h2>
        <h1 class='ml-5'>Que reste-t-il...</h1>
      </div>
      <%= image_tag "D_C3_A9licate.jpg", class: 'm-2 border img-fluid rounded'%>
      <%= image_tag "Piano.jpg", class: 'm-2 border img-fluid rounded'%>
      <%= image_tag "Trompette_20doigt.jpg", class: 'm-2 border img-fluid rounded'%>

    </div>
    <div class='card-body'>
      <p class='h3'>Chansons de légende qui traversent le temps, se chantent et se changent, un pinceau de jazz... les chuchoter, les colorer, les sculpter, transporter leurs harmonies en vibrations subtiles, jusqu’à vous.</p>
    </div>
    <div class='card-footer'>
      <div>
        <h5>Nos musiques</h5>
        <ul>
          <li><b>Chanson française</b>: de Charles Trenet à Edith Piaf en passant par Claude Nougaro.</li>
          <li><b>Standards de jazz vocal</b>: de Charlie Parker à Louis Armstrong en passant par Ella Fitzgerald.</li>
          <li><b>Bossa nova</b>: de Joao Gilberto à Antonio Carlos Jobim en passant par Henri Salvador.</li>
        </ul>
      </div>
      <div>
        <h5>Nos musiques</h5>
        <ul>
          <li>la musique feutrée en restaurant</li>
          <li>les jours de fête en institution</li>
          <li>les after-work : 5 à 7 après le boulot</li>
          <li>les animations en maison de retraite</li>        
        </ul>    
        <p>Et pour tous ceux qui aiment le jazz intimiste et les vieilles chansons françaises</p>  
      </div>
    </div>
  </div>
</div>
