<div class='container'>
  <div class='card'>
    <div class='card-header d-flex justify-content-between'>
      <h3 class='align-self-center'>Articles</h3>
      <%= render 'holders/form', holder: @holder, section: '["article"]'%>
      <%= image_tag "Articles.jpg", class: 'm-2 img-fluid border rounded', style: 'width: 8em;' %>
    </div>
    <div class='card-body' id="article">
      <%= render 'holders/index', holders: @holders %>
    </div>
  </div>
</div>
















    </div>
  </div>
</div>