<div class='container mt-4'>
  <div class='row'>
    <div class='col'>
      <div class='row justify-content-between'>
        <h1 class='align-self-center'>Le dico de Francis</h1>
        <%= image_tag "Ecrit_professionnel.jpg", class: 'img-fluid rounded border', style: 'height: 6em'%>
      </div>
      <p>Je me suis décidé à mettre en ligne mon dico, pour tous ceux que cela pourrait intéresser. C'est un gros chantier : plus de trente ans de travail. Un prototype conçu pour n'être jamais achevé. Certains termes sont élaborés, d'autres en cours d’explorations, d’autres encore à peine définis.<br><br>A quoi ça sert ? A vous si vous vous intéressez aux bases éthiques et aux concepts de la méthode Alföldi, à vous curieux, chercheurs, étudiants, en quête de références sur la méthodologie clinique et sur l’évaluation qui produit du sens. Puissiez-vous y trouver de quoi nourir vos réflexions !</p>
    </div>
    <div class='col'>
      <div class='card'>
        <div class='card-body'>
          <div class='d-flex flex-column'>
            <div class='card bg-light shadow m-2'>
              <b class='card-body text-center'>le vocabulaire de l'évaluation porteuse de sens</b>
            </div>
            <div class='card bg-light shadow m-2'>
              <b class='card-body text-center'>accédez à + de 500 mots en quelques clics </b>
            </div>
            <div class='card bg-light shadow m-2'>
              <b class='card-body text-center'>une ressource atcualisée  à la disposition de tous</b>
            </div>
          </div>
        </div>
        <div class='card-footer d-flex justify-content-center'>
          <%= link_to "", download_path, class: 'fas fa-file-download fa-8x' %>
        </div>
      </div>
    </div>
  </div>
</div>