<div class='pl-5 container'>
<h2>Mentions légales</h2>
<ul>
  <li><b>Nom commercial </b>: ALFOLDI EVALUATION</li>
  <li><b>Raison sociale </b>: FOREVA CONSULT - S.A.R.L</li>
  <li><b>Siège social </b>: 48, rue des Renoncules - 91 160 LONGJUMEAU</li>
</ul>
  <h5>N° déclaration d'activité enregistrée à la préfecture d'IDF 11910572991 au titre de la formation professionnelle continue</h5>
<ul>
  <li><b>SIRET   </b>: 538 977 935 00013</li>
  <li><b>Code NAF  </b>: 9022Z</li>
  <li><b>Dirigeant de la société </b>: Francis Alföldi, actionnaire majoritaire</li>
</ul>
  <h5>L'hébergement  est sis - 48 rue des Renoncules - 91160 Longjumeau</h5>
<ul>
  <li><b>tél </b>: 01 60 11 91 48</li>
  <li><b>port </b>: 06 10 46 76 47</li>
  <li>Vous pouvez visiter ce site sans révéler votre identité ni donner la moindre information vous concernant.</li>
</ul>
</div>