<div class="container">
  <div class='d-flex flex-wrap  justify-content-around mt-4'>
    <div class="col-sm-6 col-xs-1">
        <%= image_tag "Logo Méthode Alfoldi fond blanc.jpg", class: ' img-fluid', style: 'width: 100%;' %>
      <div class="">
        <div class="mb-0">
          <p>
            La méthode Alföldi est constituée d'un ensemble de concepts et de techniques permettant d'évaluer des comportements, des projets, des actions ou des organismes, dans les différents domaines de la vie sociale.<br/>
            <br/>
            Elle organise les opérations spécifiques de l'évaluation : modélisation de la démarche, fabrication des critères, recueil d'informations, analyse diagnostique, synthèse des résultats, écriture des rapports.<br/>
            <br/>
            Elle est caractérisée par une série d'instruments : modèle d'évaluation, critères d'évaluation, guide d'analyse, guide de lecture, conclusion modélisée, protocole de rédaction.<br/>
            <br/>
            Elle comporte trois versants : l'évaluation diagnostique (analyse des points forts et points faibles), l'évaluation de l'implication (impact du ressenti émotionnel des évaluateurs) et évaluation prospective (recherche de solution et préconisations d'actions).<br/>
            <br/>
            Elle aboutit à la production d'un avis d'évaluation pondéré. Son caractère adaptable permet d'ajuster les instruments à la singularité de chaque réalité évaluée.<br/>
            <br/>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-1">
      <div class="card" style="width: ;">
          <iframe class="border-top rounded-top" width="100%" height="315" src="https://www.youtube.com/embed/l8bSOYvAxHM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        <div class="card-body">
          <p class="card-text">Les premiers à parler de "méthode Alföldi", ce sont ses utilisateurs, dès la fin des années 90.</p>
          <p class="card-text">La méthode a fait l'objet d'un dépôt à l'INPI le 20.07.07 sous le label : Méthode Alföldi. 
          <p class="card-text">La méthode Alföldi a été définie dans l'ouvrage : <br><a href='https://www.dunod.com/sciences-humaines-et-sociales/savoir-evaluer-en-action-sociale-et-medico-sociale' target='_blank'> Savoir évaluer en action sociale et médico-sociale</a></p>
          <a href="https://www.youtube.com/channel/UCA--ZAxKQi4lBnP1HfGWODQ" target="_blank" class='btn btn-primary'> <i class="fab fa-youtube fa-lg white-text mr-2"> </i> La chaîne YouTube</a>
        </div>
      </div>
    </div>
  </div>
</div>