<div class='container'>
  <div class='mt-4 d-flex flex-row'>
    <div class='col'>
      <h2 class='font-italic'>La newsletter</h2>
      <p>Francis Alföldi adresse sa newsletter tous les 3 mois, à destination de tous les partenaires existants ou potentiels du cabinet.</p>
      <p>La news donne des infos sur les travaux porteurs d'enjeux, sur les chantiers innovants, chacune traite d'un thème principal.</p>
      <p>Retrouvez à partir de cette page, toutes les news datées avec leur thème principal. Pour vous inscrire cliquez sur le bouton </p>
    </div>
    <div class='col'>
      <%= image_tag "R_C3_A9seau.jpg", class: 'img-fluid ', style: 'height: '%>
    </div>
  </div>
  <a href='https://forms.mailpro.com/25a85b40-3787-44b3-a291-18055accf187' class='w-100 btn btn-outline-info' target='_blank'>S'abonner</a>
</div>