
<div class='container mt-4 '>
  <div class='d-flex flex-wrap'>
    <div class='col-sm-6 col-xs-1 mt-4'>
      <p>"Je suis docteur en sciences de l’éducation. Ma thèse soutenue à I’Université de Toulouse 2 portait sur la compétence évaluative.</p>
      <p>J'ai travaillé sur le terrain, comme éducateur spécialisé pendant neuf ans dans un internat, et quinze ans en Aemo judiciaire.</p>
      <p>J'ai fait un Dheps (Diplôme des hautes études des pratiques sociales), ma formation de praticien-chercheur, à Paris 3 où j'ai ensuite enseigné et été directeur de recherche pendant 10 ans dans le cadre Master intitulé Depra : Développement des pratiques par la recherche-action, au sein duquel j'ai animé un séminaire sur l’évaluation productrice de sens.</p>
      <p>J'ai publié plusieurs ouvrages chez Dunod : L’évaluation en protection de l’enfance (1999, réédité en 2005, en 2010, puis en 2015) ; Vivre l'action éducative à domicile, plus connu sous le titre Mille et un jours d’un éducateur (2002) ; Savoir-évaluer en action sociale et médico-sociale (2006) ; un ouvrage collectif 18 cas pratiques d’évaluation en action sociale et médico-sociale (Dunod, 2008) ; L'analyse des pratiques en travail social (Dunod, 2017). Mes articles sont également disponibles sur le site.</p>
      <p>Vous trouverez aussi sur le site le dico de Francis, une sorte de dictionnaire personnel en perpétuel chantier, qui fait un peu la somme de plus de trente ans de travaux, de réflexions et de recherches.</p>
      <p>Consultant en méthodologie d’évaluation, j'interviens depuis 1993 dans les établissements et services de l’action sociale et médico-sociale, en France, en Europe, là où le vent m'appelle. Ouvert en 2005, mon cabinet qui s'appelle aujourd'hui Alföldi Evaluation, centre ses activités sur l’accompagnement des institutions du secteur social dans la construction de démarches évaluatives ajustées à leurs besoins.</p>
      <p>Les activités de mon cabinet reposent aujourd'hui sur l'existence d'un réseau de partenaires, de clients, mais aussi sur une équipe de collaborateurs et d'amis, entre nous règne une certaine confiance. Sur le long terme, ça fait la différence.</p>
      <p>Au début je parlais d'évaluation qualitative. J'ai vu ensuite que bien des outils déclarés qualitatifs, n'offraient en fait que du quantitatif déguisé, les chiffres étant simplement remplacés par des mots. Je me suis dégagé de cela, en construisant le concept d'évaluation porteuse de sens.</p>
      <p>Mon profil s'est constitué au fil du temps, au gré des expériences, suivant mon parcours : faire du travail à la carte, sur mesures, éviter la grande distribution, prendre de risque,  ne pas tomber dans le prêt à porter évaluatif, et avoir le grand plaisir  de travailler en son nom propre.</p>
      <p>Diffuser mes produits qui sont mes méthodes... fabriqueur d'instruments, voilà ce que je suis aujourd'hui, un genre de luthier du social.."</p>
    </div>
    <div class='col-sm-6 col-xs-1'>
      <div class='card'>
        <div class='card-header'>
          <h4>Francis Alföldi</h4>
        </div>
        <div>
          <%= image_tag "francis_action.jpg", class: "img-fluid w-100"%>
        </div>
        <div class='card-footer'>
          <a href="/statics/livres" class="btn btn-primary">Voire les ouvrages</a>
        </div>
      </div>
    </div>
  </div>
</div>