<div class="fat-hero-image d-flex shadow justify-content-around py-5" >
  <div class="d-flex flex-wrap text-white justify-content-around">
    <div class='align-self-start'>
      <h3>Francis Alföldi<br> <i>consultant en protection de l'enfance.</i></h3>
    </div>
    <%= link_to "Consulter les derniers dossiers", folders_path, class: 'btn btn-primary align-self-center h-25%'%>
    <div class='align-self-end d-flex flex-wrap text-center'>
      <h5 class='align-self-end mr-2'>Auteur de <a href='https://www.dunod.com/sciences-humaines-et-sociales/evaluer-en-protection-enfance-theorie-et-methodes' target='_blank'><i>"Évaluer en protection de l'enfance"</i></a><br> avec plus de <b>11.000</b> milles exemplaires vendus.</h5>
    </div>
  </div>
</div>