<div class="fat-hero-image  d-flex justify-content-center mb-5">
  <div class="h-75 w-100 d-flex flex-row text-white align-self-center justify-content-around">
      <div class='align-self-start d-flex fa-lg'>
        <i class="fas fa-quote-left"></i>
        <h1>Bienvenue</h1>
        <i class="fas fa-quote-right"></i>
      </div>
      <%= link_to "Consulter les derniers dossiers", folders_path, class: 'btn btn-primary align-self-center h-25%'%>
      <p class='align-self-end'>"Mieux vaut du discernement et pas de méthode,  que de la méthode et pas de discernement."<br/> - Dominique Gaillard</p>
  </div>
</div>