<%= render 'banner_welcome'%>

<div class='container mt-5' style='height: 100%'>

  <div class='card'>
    <div class='card-header'>
      <h1 class='card-title'>Une évaluation porteuse de sense.</h1>
      <p class='card-text text-secondary'>Francis Alföldi travaille sur l'évaluation et ses pratiques dans le secteur social. Le cabinet Alföldi  est structuré en SAS.</p>
    </div>
    
    <div class='card-body d-flex flex-wrap justify-content-around'>
      <div class='align-self-center'>
        <h5>Un artisan du social vous propose</h5>
        <ul>
          <li> ses formations, </li>
          <li>des publications, </li>
          <li>des travaux de recherches, </li>
          <li>un accompagnement, </li>
          <li>du travail à la carte.</li>
        </ul>
      </div>
          <%= image_tag "francis_half.jpg", class: 'm-2 img-fluid border rounded', style: 'height: 15em;' %>
    </div>
  </div>
  <h1 class='text-secondary'>Dernier article :</h1>
  <%= render "articles/show", article: @article%>
</div>