<p>Bonjour <%= @resource.email %>!</p>

<p>Nous avons reçut une requête de changement de mot de passe. Procedez avec le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette requête, merci d'ignorer cette email.</p>
<p>Votre mot de passe ne changera pas tant que voud ne changez pas votre mot de passe via le lien ci-dessus.</p>
