<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte à été bloqué suite à de nombreuse tentative de connection infructueuses.</p>

<p>Cliquez sur le lien suivant pour débloquer votre compte:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
