<div class="w-100 page-footer bg-primary text-white py-3 mt-5">
    <div>
    </div>
    <div class="footer-copyright text-center py-3">
        <a href="#">Alföldi Evaluation est géré par la société Foreva Consult</a>
    </div>
</div>
