<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <img src='http://www.alfoldievaluation.com/assets/alfoldi_logo-95162dac509296b6351be4dcc65605bd8703934024ed18dba2fa6a188ec3fb27.jpg' alt="alfoldi logo">
  </body>
</html>
